<h1>Twitter Bot Webhooks API admin panel v0.1</h1>
<ul>
  <li>
    <a href="https://{{project-name}}.glitch.me/webhooks">Register webhook</a>
  </li>
  <li>
    <a href="https://glitch.com/edit/#!/{{project-name}}" target="_blank">Check the source code/logs on Glitch</a>
  </li>
</ul>
<pre>
  <code>{{message}}</code>
</pre>
